{% extends 'bootstrap/base.html' %}

{% block title %}
      {% if title %}{{ title }} - HYPElist{% else %}The HYPElist{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('index') }}">HYPElist</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('add_game')}}">Add a Game</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_anonymous %}
          <li><a href="{{ url_for('register') }}"><span class="glyphicon glyphicon-user"></span> Register</a></li>
          <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {% else %}
          <li><a href="{{ url_for('user', username=current_user.username) }}"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
          <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
</div>
{% endblock %}
