{% extends "base.html" %}

{% block app_content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <p>
        <h1 class="display-4">Game List</h1>
      </p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover table-sm" id="gamehype_table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Game Title</th>
            <th scope="col" class="text-center">Platform(s)</th>
            <th scope="col">Release Date</th>
            <th scope="col" class="text-center">Genre(s)</th>
            {% if current_user.is_anonymous %}
            {% else %}
            <th scope="col">My Hype Level</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for game in games %}
          <tr>
            <th scope="row">{{ game.game_name }}</th>
            <td align="center">
              {% for g in game.platforms.all() %}
              <span class="label label-primary">{{ g.platform_name }}</span>
              {% endfor %}
            </td>
            <td>{{ moment(game.release_date).format('L') }}</td>
            <td align="center">
              {% for g in game.genres.all() %}
              <span class="label label-default">{{ g.genre_name }}</span>
              {% endfor %}
            </td>
            {% if current_user.is_anonymous %}
            {% else %}
            <td>
              {{ USER'S RATING }}
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
